dataset/**
!dataset/.gitkeep
output/**
!output/.gitkeep
logs/
runs/
config/__pycache__/
models/
utils/__pycache__/
.trunk/
data/**
!data/data.yaml
src/__pycache__/
src/core/__pycache__/
src/training/__pycache__/
src/inference/__pycache__/
src/utils/__pycache__/
src/data/__pycache__/
dataPruebas/**
!dataPruebas/.gitkeep
Variables_buscar.md
.trunk
output/**
!output/.gitkeep
data/**
!data/data.yaml
api/**
models/**
__pycache__/**
logs/**
eda/core/__pycache__/
eda/visualization/__pycache__/
eda/io/__pycache__/
eda/metrics/__pycache__/
eda/utils/__pycache__/
