dataPruebas/**
!dataPruebas/.gitkeep
Variables_buscar.md
.trunk
output/**
!output/.gitkeep
data/**
!data/data.yaml
api/**
models/**
__pycache__/**
logs/**
eda/core/__pycache__/
eda/visualization/__pycache__/
eda/io/__pycache__/
eda/metrics/__pycache__/